@{
    ViewData["Title"] = "YoYo Test";
}
@model YoyoTest.Application.ViewModels.BeepTestViewModel

<section class="columns is-flex is-justify-content-center is-align-items-center m-5">
    <div class="column is-size-8-widescreen is-3-desktop is-4-tablet circle3 is-flex is-justify-content-center is-align-items-center">
        <div class="column is-11-widescreen is-11-desktop is-11-tablet circle2 is-flex is-justify-content-center is-align-items-center">
            <div data-pointer="true" class="start-timer column is-10-widescreen is-11-desktop is-10-tablet circle is-flex is-justify-content-center is-align-items-center">
                <i class="start-icon fas fa-play is-size-5-custom has-text-primary-dark"></i>
                <div class="is-hidden started-text is-flex is-justify-content-center is-align-items-center is-flex-direction-column">
                    <div class="level-number has-text-info mb-2 is-size-5"></div>
                    <div class="shuttle-number has-text-info mb-2 is-size-5"></div>
                    <div class="speed-number has-text-black mb-2 is-size-5"></div>
                </div>
                <div class="is-hidden test-completed is-flex is-justify-content-center is-align-items-center is-flex-direction-column">
                    <div class="has-text-danger is-size-5 has-text-weight-bold">Test</div>
                    <div class="has-text-danger is-size-5 has-text-weight-bold">Completed</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="test-info columns is-mobile is-flex is-flex-direction-row is-justify-content-space-between mb-5">
        <div class="vertical-divider column is-flex is-justify-content-center is-flex-direction-column is-align-items-center">
            <div class="has-text-grey-light is-flex is-hidden-desktop is-hidden-tablet is-justify-content-center is-flex-direction-column is-align-items-center">
                <div> NEXT</div> <div>SHUTTLE</div>
            </div>
            <div class="has-text-grey-light is-flex is-hidden-mobile">
                <div> NEXT</div> <div class="ml-2">SHUTTLE</div>
            </div>
            <div id="shuttle" class="has-text-primary-dark is-size-1-2 whitespace-wrap">
                00:00 s
            </div>
        </div>
        <div class="vertical-divider column is-flex is-justify-content-center is-flex-direction-column is-align-items-center">
            <div class="has-text-grey-light is-flex is-hidden-desktop is-hidden-tablet is-justify-content-center is-flex-direction-column is-align-items-center">
                <div> TOTAL</div> <div>TIME</div>
            </div>
            <div class="has-text-grey-light is-flex is-hidden-mobile">
                <div> TOTAL</div> <div class="ml-2">TIME</div>
            </div>
            <div id="time" class="has-text-primary-dark is-size-1-2 whitespace-wrap">
                00:00 m
            </div>
        </div>
        <div class="column is-flex is-justify-content-center is-flex-direction-column is-align-items-center">
            <div class="has-text-grey-light is-flex is-hidden-desktop is-hidden-tablet is-justify-content-center is-flex-direction-column is-align-items-center">
                <div> TOTAL</div> <div>DISTANCE</div>
            </div>
            <div class="has-text-grey-light is-flex is-hidden-mobile">
                <div> TOTAL</div> <div class="ml-2">DISTANCE</div>
            </div>
            <div id="distance" class="has-text-primary-dark is-size-1-2 whitespace-wrap">
                0 m
            </div>
        </div>
    </div>
    <div class="is-hidden view-results is-mobile is-flex is-justify-content-center is-align-items-center mb-5">
        <span data-pointer="true" class="tag has-background-success-dark is-rounded has-text-weight-bold has-text-white	is-size-4 pl-6 pr-6 pt-3 pb-3">View Results</span>
    </div>
</section>

<section class="is-flex is-flex-direction-column mb-4">
    <div class="has-text-primary-dark has-text-weight-bold">
        Track
    </div>
    <div class="dropdown-divider has-background-grey-light"></div>
</section>

<section class="columns is-multiline is-tab" data-section="player-info">

    @foreach (var player in Model.Players)
    {
        <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
            <div data-Id='@player.PlayerId' class="is-flex is-flex-direction-row is-justify-content-space-between">

                <div data-Id='@player.PlayerId' class="is-flex is-flex-direction-row">
                    <div class="has-text-info has-text-weight-bold mr-2">@player.PlayerId</div>
                    <div>@player.PlayerName</div>
                </div>

                <div data-Id='@player.PlayerId' class="is-flex is-hidden" data-buttons="stage">
                    <span data-pointer="true" class="warn-player tag is-info is-rounded">Warn</span>
                    <span data-pointer="true" class="stop-player tag is-danger is-rounded ml-2">Stop</span>
                </div>

                <div data-Id='@player.PlayerId' class="dropdown is-hidden" data-dropdown="score"></div>

            </div>
            <div class="dropdown-divider has-background-grey-lighter"></div>
        </div>
    }

</section>

<section class="is-flex is-flex-direction-column mb-4">
    <div class="dropdown-divider has-background-grey-light"></div>
</section>


<script>
    //Models
    let testData = @Html.Raw(Json.Serialize(@Model.BeepTestRatings));
    let playerData = @Html.Raw(Json.Serialize(@Model.Players));
</script>

<script src="~/js/ConstanstsAndGlobals.js"></script>
<script src="~/js/Events.js"></script>
<script src="~/js/Functions.js"></script>